body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.gallery {
  position: relative;
  background-color: black;
  border-radius: 25px;
  align-items: center;
  width: 1050px;
  height: 500px;

}

.photo {
  max-width: 70%;
  height: 85%;
  align-items: center;
  margin-left: 240px;
  margin-top: 40px;
}

button {
  margin-top: 10px;
  background-color: green;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  color: white;
  margin-right: 50px;
}